.dropdown {
  width: 100%;
  height: 100%;
  min-width: 335px;
  background: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 20px;
}

.dropdown h3 {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: #ff6060;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown h3:hover {
  cursor: pointer;
  background: #fff;
  color: #ff6060;
  border: 2px solid #ff6060;
}

.dropdown span {
  font-size: 1.2rem;
}

.dropdown-list {
  background: #f7f7f7;
  width: 100%;
  padding: 25px 12px;
  border-radius: 0 0 5px 5px;
  color: #ff6060;
  font-size: 0.9rem;
}

.dropdown li {
  margin-bottom: 6px;
}

.dropdown-list.drop-close {
  display: none;
}

.dropdown-list.drop-open {
  display: open;
}

@media screen and (min-width: 768px) {
  .dropdown {
    border-radius: 10px;
  }

  .dropdown h3 {
    height: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0 20px;
  }

  .dropdown-list {
    padding: 40px 20px;
    border-radius: 0 0 10px 10px;
    font-size: 1.2rem;
  }
}
