.gallery {
  position: relative;
  margin-bottom: 15px;
}

.gallery,
.gallery img {
  width: 100%;
  height: 255px;
  border-radius: 25px;
}

.gallery img {
  object-fit: cover;
}

.gallery .fas {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.gallery .fas:hover {
  cursor: pointer;
}

.gallery .fa-chevron-left {
  left: 6px;
}

.gallery .fa-chevron-right {
  right: 6px;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 25px;
  }

  .gallery,
  .gallery img {
    height: 415px;
  }

  .gallery .fas {
    font-size: 4rem;
  }

  .gallery .fa-chevron-left {
    left: 25px;
  }

  .gallery .fa-chevron-right {
    right: 25px;
  }
}
